<div class="container">
<div class="center">
<img src="http://www10.0zz0.com/2018/11/13/14/808464602.png">
<h1 class=font><span class="prt1">Me</span><span class="prt2">et</span><span class="prt3-2">Us</span></h1>
<h3>Meet people with similar interests</h3>
<% if(user_signed_in?) %>

 <%= link_to "Start", tags_path,class:"waves-effect waves-light btn",id:"start1"%>
<%else %>
<%= link_to "Log In", new_user_session_path,class:"waves-effect waves-light btn",id:"start1"%>  <%= link_to "Sign Up", new_user_registration_path,class:"waves-effect waves-light btn",id:"start1"%>
<%end %>
</div>
</div>