<div class="container">
<div class="row">
<div class="center">
<% @tags.each do |tag| %>
 <div class="col s4 tag" id=<%= tag.id%>>
<div class="card">
  
 <div class="card-content white-text">
 <span class="card-title" ><h3><%= link_to tag.name, tag,id:"start"%></h3><span>

</div>
</div>
</div>
<%end%>
</div>
</div>
</div>