<div class="container">
<div class="center">
<div class="row">

<% @tag.meetings.each do |meeting| %>
 <div class="col s4 meeting" id=<%= meeting.id%>>
<div class="card padding">
 <div class="card-content white-text">
<span id="start"><h3><%= link_to meeting.titels, meeting,id:"start"%><h3></span>
</div>
</div>
</div>
<%end%>
</div>
</div>
</div>