<div class="container">
<div class="center">
<div class="row">

<% @tag.meetings.each do |meeting| %>
 <div class="col s4">
<div class="card padding">
 <div class="card-content white-text">
<h3 id="start"><%= link_to meeting.titels, meeting,id:"start"%></h3>
</div>
</div>
</div>
<%end%>
</div>
</div>
</div>